<header class="text-gray-400 bg-gray-900 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img
        src="assets/rlogo.png"
        alt="logo"
        class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
      />
      <span class="ml-3 text-xl">Spyfact</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        routerLink="home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        class="mr-5 hover:text-white"
        >Home</a
      >
      <a
        routerLink="about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        class="mr-5 hover:text-white"
        >About</a
      >
      <a
        routerLink="contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        class="mr-5 hover:text-white"
        >Contact</a
      >
    </nav>
  </div>
</header>
